@import "@/styles/xd-tokens.css";

/* reset leve */
* { box-sizing: border-box; }
html, body { height: 100%; margin: 0; padding: 0; }

body {
  font-family: var(--unnamed-font-family-manrope), var(--font-manrope), system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  background: var(--unnamed-color-f0f0f0);
  color: var(--verde-escuro-3-0b2b25);
}
